<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Denver Botanic Gardens (York Street)</string>
	<key>center</key>
	<dict>
		<key>latitude</key>
		<real>39.73186</real>
		<key>longitude</key>
		<real>-104.9612851574781</real>
	</dict>
	<key>bounds</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>39.73347678681836</real>
			<key>longitude</key>
			<real>-104.9586379917202</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>39.73293569986208</real>
			<key>longitude</key>
			<real>-104.958623627187</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>39.73265653359262</real>
			<key>longitude</key>
			<real>-104.958696927097</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>39.73226194087952</real>
			<key>longitude</key>
			<real>-104.958997107681</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>39.73184587128658</real>
			<key>longitude</key>
			<real>-104.9592239883549</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>39.73113183630606</real>
			<key>longitude</key>
			<real>-104.95924842171</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>39.73115867985941</real>
			<key>longitude</key>
			<real>-104.9598592542936</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>39.73098688093724</real>
			<key>longitude</key>
			<real>-104.9598941590127</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>39.73078286916105</real>
			<key>longitude</key>
			<real>-104.9600442493047</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>39.73049027227027</real>
			<key>longitude</key>
			<real>-104.9601768872372</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>39.73050906293361</real>
			<key>longitude</key>
			<real>-104.9606864961355</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>39.73101104018654</real>
			<key>longitude</key>
			<real>-104.9606969675512</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>39.73103675225757</real>
			<key>longitude</key>
			<real>-104.9641032385778</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>39.7328459868795</real>
			<key>longitude</key>
			<real>-104.9641451242465</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>39.73285135545752</real>
			<key>longitude</key>
			<real>-104.9610036995306</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>39.73345531782102</real>
			<key>longitude</key>
			<real>-104.9610560564718</real>
		</dict>
	</array>
	<key>categories</key>
	<array>
		<dict>
			<key>name</key>
			<string>Facilities</string>
			<key>color</key>
			<dict>
				<key>red</key>
				<real>0.875</real>
				<key>green</key>
				<real>0.581</real>
				<key>blue</key>
				<real>0.243</real>
			</dict>
			<key>exhibits</key>
			<array>
				<dict>
					<key>coordinate</key>
					<dict>
						<key>latitude</key>
						<real>39.7329824548634</real>
						<key>longitude</key>
						<real>-104.9605509195685</real>
					</dict>
					<key>name</key>
					<string>Freyer-Newman Center</string>
					<key>monogram</key>
					<string>D</string>
				</dict>
				<dict>
					<key>coordinate</key>
					<dict>
						<key>latitude</key>
						<real>39.73216830400064</real>
						<key>longitude</key>
						<real>-104.9640913468345</real>
					</dict>
					<key>name</key>
					<string>Cheesman Gate</string>
					<key>monogram</key>
					<string>C</string>
				</dict>
				<dict>
					<key>coordinate</key>
					<dict>
						<key>latitude</key>
						<real>39.73254508980577</real>
						<key>longitude</key>
						<real>-104.960251347825</real>
					</dict>
					<key>name</key>
					<string>Bonfils-Stanton Visitor Center &amp; Gift Shop</string>
					<key>monogram</key>
					<string>B</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Boettcher Memorial Center</string>
					<key>monogram</key>
					<string>A</string>
					<key>coordinate</key>
					<dict>
						<key>latitude</key>
						<real>39.73267504084534</real>
						<key>longitude</key>
						<real>-104.960680501236</real>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
